{% load static i18n %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{% static "pepr/core.css" %}" />
        <link rel="stylesheet" href="{% static "pepr/vendor.css" %}" />
        <script src="{% static "pepr/vendor.js" %}"></script>
        <script src="{% static "pepr/core.js" %}"></script>
        <title>{% block head_title %}{{ role.context.title }}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% if app_props %}
        {{ app_props|json_script:"app-props" }}
        {% endif %}

        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">{% block nav-brand %}{% endblock %}</div>
            <div class="navbar-menu">
                {% block nav-menu %}
                <div class="navbar-start">
                {% block nav-menu-start %}
                {% endblock %}
                </div>
                <div class="navbar-end">
                {% block nav-menu-end %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="">
                        <span class="icon">
                            <i class="mdi mdi-account"></i>
                        </span>
                        <span>
                            {% if role.identity %}
                            {{ role.identity.title }}
                            {% else %}
                            {{ request.user.username }}
                            {% endif %}
                        </span>
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="">Logout</a>
                    </div>
                </div>
                {% endblock %}
                </div>
                {% endblock %}
            </div>
        </nav>

        {% block app %}
        <main id="app">
            <p-context :context="context">
                <header class="app-header header">
                    <div class="columns">
                        <div class="column"></div>
                        <div class="column is-three-quarters">
                            {% block app-header %}
                            <h1 class="title">{% block title %}{{ context.title }}{% endblock %}</h1>
                            <h2 class="subtitle">{% block subtitle %}{{ context.headline|default:'' }}{% endblock %}</h2>
                            {% endblock app-header %}
                            {% block app-actions %}{% endblock %}
                        </div>
                        <div class="column"></div>
                    </div>
                </header>
                <div class="columns">
                    <div class="column app-menu">
                        <p-nav ref="appNav" class="menu" @select='$refs.appDeck.select($event)'>
                            {% block app-menu %}{% endblock %}
                        </p-nav>
                    </div>
                    <div class="column is-three-quarters app-body">
                        {% block app-body %}
                        <div class="box">
                            <p-deck ref="appDeck" @select='$refs.appNav.select($event)'>
                                {% block app-deck %}{% endblock %}
                            </p-deck>
                        </div>
                        {% endblock %}
                    </div>
                    <div class="column"></div>
                </div>
            </p-context>
        </main>
        {% endblock %}
    </body>
</html>
