{% extends template_base %}
{% load i18n %}

{% block app %}
<p-context context-id="{{ role.context.pk }}" context-entity="{{ role.context.basename }}">
    <template v-slot:default="{context,role,roles,subscription}">
        {{ block.super }}
    </template>
</p-context>
{% endblock %}

{% block app-actions %}
<div class="level app-actions">
    <div class="level-left">
    </div>
    <div class="level-right">
        {% block app-actions-buttons %}
        <div class="level-item">
            {# <p-subscription-button></p-subscription-button> #}:
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block app-menu %}
<ul class="menu-list">
    {% block app-menu-services %}
    {% for obj in role.services %}
    {% if service and obj.pk == service.pk %}
    <li>
        <p-nav-item target="default">{{ obj.title }}</p-nav-item>
    </li>
    {% else %}
    <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endblock %}
</ul>

<p class="menu-label">{% trans "Settings" %}</p>
<ul class="menu-list">
    {% block app-menu-settings %}
    <li>
        <p-nav-item target="subscriptions" icon="mdi mdi-account-multiple">
            {% trans "Subscriptions" %}
        </p-nav-item>
    </li>
    <li>
        <p-nav-item target="settings" icon="mdi mdi-cog">
            {% trans "Settings" %}
        </p-nav-item>
    </li>
    {% endblock %}
</ul>
{% endblock %}

{% block app-deck %}
<template #default>
    {% block service %}{% endblock %}
</template>
<template #settings>
    <button class="delete float-right" @click="$refs.appDeck.select()"></button>
    <h2 class="title is-3">{% trans "Settings" %}</h2>
    <p-context-form :initial="context" @success="$refs.appDeck.select()"></p-context-form>
</template>

<template #subscriptions>
    <button class="delete float-right" @click="$refs.appDeck.select()"></button>
    <h2 class="title is-3">{% trans "Subscriptions" %}</h2>
    {# <p-subscription-list :context="context" /> #}
</template>
{% endblock %}

