{% extends template_base %}
{% load i18n %}

{% block app-actions %}
<div class="level app-actions">
    <div class="level-left">
    </div>
    <div class="level-right">
        {% block app-actions-buttons %}
        <div class="level-item">
            {# <p-subscription-button></p-subscription-button> #}:
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block app-menu %}
<ul class="menu-list">
    {% block app-menu-services %}
    {% for obj in role.services %}
    {% if service and obj.pk == service.pk %}
    <li>
        <p-nav-item target="default">{{ obj.title }}</p-nav-item>
    </li>
    {% else %}
    <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endblock %}
</ul>

<p class="menu-label">{% trans "Settings" %}</p>
<ul class="menu-list">
    {% block app-menu-settings %}
    <li>
        <p-nav-item target="subscriptions" icon="mdi mdi-account-multiple">
            {% trans "Subscriptions" %}
        </p-nav-item>
    </li>
    <li>
        <p-nav-item target="settings" icon="mdi mdi-cog">
            {% trans "Settings" %}
        </p-nav-item>
    </li>
    {% endblock %}
</ul>
{% endblock %}

{% block app-deck %}
<template #default>
    <p-context context-id="{{ role.context.pk }}" context-entity="{{ role.context.basename }}">
        <template v-slot:default="{context,role,roles,subscription}">
            {% block service %}{% endblock %}
        </template>
    </p-context>
</template>
<template #settings>
    <p-context context-id="{{ role.context.pk }}" context-entity="{{ role.context.basename }}">
        <template v-slot:default="{context,role,roles,subscription}">
            <button class="delete float-right" @click="$refs.appDeck.select()"></button>
            <h2 class="title is-3">{% trans "Settings" %}</h2>
            {% block app-settings %}
            <p-context-form :initial="context" @success="$refs.appDeck.select()"></p-context-form>
            {% endblock %}
        </template>
    </p-context>
</template>
<template #subscriptions>
    <p-context context-id="{{ role.context.pk }}" context-entity="{{ role.context.basename }}">
        <template v-slot:default="{context,role,roles,subscription}">
            <button class="delete float-right" @click="$refs.appDeck.select()"></button>
            <h2 class="title is-3">{% trans "Subscriptions" %}</h2>
            {% block app-subscriptions %}
            <p-list entity="subscription" :filters="{context_id: context.$id}">
                <template v-slot:item="{item}">
                    <p-subscription :id="item.pk" :item="item"/>
                </template>
                <template v-slot:bottom="{pagination,fetchNext}">
                    <div class="has-text-centered" v-if="pagination.next">
                        <button class="button has-icons is-link is-light" @click="fetchNext()">
                            <span class="icon is-small">
                                <i class="mdi mdi-plus"></i>
                            </span>
                            <span>{% trans "More Subscriptions" %}</span>
                        </button>
                    </div>
                </template>
            </p-list>
            {% endblock %}
        </template>
    </p-context>
</template>
{% endblock %}

