{% load i18n %}
<div class="columns">
    <div class="column is-three-quarters">
        <span>{% verbatim %}
              {{ (item.owner && item.owner.title) || item.owner_id }}
              {% endverbatim %}</span>
        <div class="icon is-large has-text-info">
            <span v-if="item.isSubscribed" class="mdi mdi-account"></span>
            <span v-else class="mdi mdi-account-question"
                 title="{% trans "Awaiting for approval" %}"></span>
        </div>
    </div>
    <div class="column">
        <p-actions :item="item" no-text>
            <p-action label="{% trans "Edit" %}" icon="mdi mdi-pencil" no-text
                v-if="item.isGranted(role, 'update')"
                @trigger="$refs.subscriptionModalForm.show({data: item})"/>
        </p-action>
    </div>
</div>

