{% load i18n %}
<div class="columns">
    <div class="column is-three-quarters">
        <div>{% verbatim %}{{ item.owner?.title || item.owner_id }}{% endverbatim %}</div>
        <div>
            <span class="icon is-small has-text-info">
                <i v-if="item.isSubscribed" class="mdi mdi-account"></i>
                <i v-else class="mdi mdi-account-question"
                     title="{% trans "Awaiting for approval" %}"></i>
            </span>
            <small>{% verbatim %}{{ context.roles[item.role].name }}{% endverbatim %}</small>
        </div>
    </div>
    <div class="column">
        <p-actions :item="item" no-text>
            <p-action label="{% trans "Edit" %}" icon="mdi mdi-pencil" no-text
                v-if="item.isGranted(role, 'update')"
                @trigger="$refs.subscriptionModalForm.show({data: item})"/>
        </p-action>
    </div>
</div>

