{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{% static "pepr/pepr.css" %}" />
        <link rel="stylesheet" href="{% static "pepr/vendor.css" %}" />
        <script src="{% static "pepr/pepr.js" %}"></script>
        <title>{% block head_title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <main id="app" class="">
            <header class="header">
                <div class="container">
                    {% block header %}
                    <h1 class="title">{% block title %}{% endblock %}</h1>
                    <h2 class="subtitle">{% block subtitle %}{% endblock %}</h2>
                    {% endblock header %}
                </div>
            </header>
            <section class="section">
                <div class="container">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
