{% extends "pepr/ui/site.html" %}
{% load i18n pepr_ui %}

{% block header %}
<div class="row p-2">
    {% block header-title %}
    <div class="col">
        <h2>
            {{ context.title }}
        </h2>
        <div class="description lead">
            {{ context.description }}
        </div>
    </div>
    {% endblock %}
</div>
<div class="row">
    {% block header-bottom %}
    <div class="col">

    </div>
    <div class="col text-right p-2">
        {# slot "container-subscription-menu" view object=context icon="fa-users fas" right=True toggle_class="btn btn-lg btn-primary" #}
        {% slot "container-settings-menu" view object=context icon="fa-cog fas" right=True toggle_class="btn btn-secondary" %}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block main %}
<div class="row">
    {% if context %}
    {% slot "container-sidebar" view object=context service=service %}
    {% endif %}

    <div class="col-10">
    {% block app %}
        {% if object %}
            {% component object %}
        {% else %}
            <div class="alert alert-warning" role="alert">
            {% trans "nothing here" %}
            </div>
        {% endif %}
    {% endblock app %}
    </div>
{% endblock %}

