{% load i18n widget_tweaks %}

{% if object %}
<form data-action-path="{{ object.api_detail_url }}" data-action-method="PUT">
{% else %}
<form data-action-path="{{ model.api_list_url }}" data-action-method="POST">
{% endif %}

<div slot="modal-title">
    {% if object %}
        {% trans "Edit" %}
    {% else %}
        {% trans "Create" %}
    {% endif %}
</div>

{% with True as no_label %}
{% with True as no_help %}
{% with 'access' as avoid_field %}
{% include "pepr/ui/form.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div slot="modal-footer">
    <div class="text-right">
        {% with form.access as field %}
        {% render_field field aria-label=field.label aria-description=field.help_text|default:field.label title=field.help_text|default:field.label %}
        {% endwith %}
        <button class="btn btn-primary ml-2">{% trans "Publish" %}</button>
    </div>
</div>


</form>

