{% extends "pepr/content/site.html" %}
{% load i18n pepr_ui %}

{% block main %}

{% block container_header %}
<header class="uk-heading-primary">
    {% block header %}
    <h1>{{ container.title }}</h1>
    {% endblock %}
</header>
{% endblock %}

{% block content %}
<section class="container container-body">
{% if object %}
    {% component object %}
{% else %}
    <div class="alert alert-warning" role="alert">
    {% trans "no service enabled" %}
    </div>
{% endif %}
</section>
{% endblock %}


{% endblock %}


