{% load i18n pepr_ui humanize %}

{% block content %}
{% with object.owner|default_if_none:object.modifier as owner %}
<div>
    <header class="box-header">
        {{ owner.name }}
        {{ object.modified|naturaltime }}

        <div class="float-right badges">
            {% if not user.is_anonymous %}
            <span right class="badge badge-info"
                  aria-label="{% trans "Element visibility" %}"
                  {% with object.get_access_display as role %}
                  title="{% blocktrans %}{{role}} can view it{% endblocktrans %}"
                  aria-description="{% blocktrans %}{{role}} can view it{% endblocktrans %}"
                  {% endwith %}
                  >
                {% icon "fa-eye far" %}
                {{ object.get_access_display }}
            </span>
            {% endif %}
        </div>
    </header>

    <section>
    {{ object.text }}
    </section>
</div>
{% endwith %}
{% endblock %}

