{% load i18n widget_tweaks pepr_ui %}

{% if object %}
<form data-action-path="{{ object.api_detail_url }}" data-action-method="PUT">
{% else %}
<form data-action-path="{{ model.api_list_url }}" data-action-method="POST">
{% endif %}

{% with True as no_label %}
{% with True as no_help %}
{% with 'access' as avoid_field %}
{% include "pepr/ui/form.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<footer class="row form-row justify-content-between text-right">
    <div class="col-12 text-right">
            {% with form.access as field %}
            <div class="d-inline-block text-info border-right border-secondary mr-2 pr-2">
                <span class="far fa-eye"></span>
                <span class="d-inline-block">
                    {% render_field field aria-label=field.label aria-description=field.help_text|default:field.label title=field.help_text|default:field.label class="form-control d-inline" %}
                </span>
            </div>
            {% endwith %}

            <button class="btn btn-primary">{% trans "Publish" %}</button>
    </div>
</footer>

</form>

