{% load pepr_ui %}

{% if not view.dropdown_menu %}
<nav class="nav flex-column box">
{% endif %}

{% for service in services %}
    {% if service.slot == slot.name %}
        {% if view.dropdown_menu %}
        <b-dropdown-item>
        {% else %}
        <li class="nav-item">
        {% endif %}

        <a href="{% url 'pepr.service' pk=context.pk service_slug=service.slug %}"
           class="nav-link {% if service.pk == service.pk %}active{% endif %}">
        {% icon service.icon %}
        {{ service.text }}
        </a>

        {% if view.dropdown_menu %}
        </b-dropdown-item>
        {% else %}
        </li>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}

{% if not view.dropdown_menu %}
</nav>
{% endif %}
