{% extends "pepr/content/service.html" %}
{% load i18n pepr_core pepr_content %}

{% block service %}
{% if create_form %}
<div class="">
    {% component create_form role %}
</div>
{% endif %}
<div class="content-list">
    <p-list :model="Content" context-id="contextId" orderBy="-modifiedDate">
        <template v-slot:item="{item, items, index}">
            <div :id="item.pk" class="box">
                <p-content :item="item"></p-content>
            </div>
            <br>
        </template>
    </p-list>
</div>

{% endblock %}


