{% extends "pepr/content/service.html" %}
{% load i18n widget_tweaks pepr_ui %}

{% block app %}
<h3>{% icon "fa-user-friends fas" %} {% trans "Subscriptions" %}</h3>
<div class="box">
    <p class="lead mb-3">
    {% with title=object.title context_type=object|meta:"verbose_name" %}
    {% blocktrans %}
    Here you can change users subscriptions for the {{ context_type }}
    <b>{{ title }}</b>.
    {% endblocktrans %}
    {% endwith %}

    </p>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <table class="table table-bordered table-striped">
            <thead>
                <th scope="col" class="col-5">User</th>
                <th scope="col" class="col-5">Role</th>
                <th scope="col" class="col-1">Delete</th>
            </thead>
            <tbody>
            {% for form in formset %}
            {% if form.owner.value %}
            <tr>
                <input type="hidden" name="{{ form.owner.html_name }}" value="{{ form.owner.value }}">
                {% for field in form.hidden_fields %}
                <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}">
                {% endfor %}

                <td class="wide">
                    {{ form.instance.owner.username }}
                </td>
                <td>
                    {{ form.access|add_class:"form-control" }}
                </td>
                <td class="table-danger">
                    <input type="checkbox" class="form-control"
                        name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE"
                        title="{% trans "Delete subscription" %}"
                        aria-label="{% trans "Delete subscription" %}"
                        aria-description="{% trans "Subscription is deleted when this is checked" %}"
                        >
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr>
                <td>
                    <pepr-typeahead
                        items-url='/user/'
                        lookup-param='username__icontains'
                        input-name='some-name'
                        list-class="w-auto bg-white" list-float
                        item-value-attr='pk'
                        item-label-attr='username'
                    >
                        <template slot="item" slot-scope="{item,collection}">
                            [[ item.username ]]
                        </template>

                        <template slot="selected" slot-scope="{view,value,label}">
                            {{ label }}
                        </template>
                    </pepr-typeahead>
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-right">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}


