
body {
    background-color: #efefef;
}

.box > * {
    margin: 0px;
}

.box {
    background-color: #fff;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.2);
}

.box > header {
    color: #999;
    border-bottom: 0.1em rgba(0,0,0,0.2) dashed;
    margin-bottom: 0.2em;
}

