{% extends "pepr_core/base_form.html" %}
{% load i18n %}

{% block title %}
{% trans "Reset Password" %}
{% endblock %}

{% block app-body %}
<div class="box">
    <p>
    {% blocktrans %}
    An email has been sent to your email address containing a link to reset
    your password.
    {% endblocktrans %}
    </p>
    <br>
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <a class="button is-link"
                href="{% url 'login' %}?next={{ request.GET.next|default:''|urlencode }}">
                {% trans "Login" %}
            </a>
            <a class="button is-link"
                href="{{ request.GET.next|default:''|urlencode }}">
                {% trans "Go back to page" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}


