{% extends "pepr_core/base_form.html" %}
{% load i18n %}

{% block title %}
{% trans "Reset Password" %}
{% endblock %}

{% block app-body %}
<form method="post" action="" class="box">
    {% if form.non_field_errors %}
    <p class="has-text-danger">{{ form.non_field_errors|join:'<br>' }}</p>
    {% endif %}
    {% csrf_token %}
    <div class="field">
        <label class="label">{{ form.email.label }}</label>
        <div class="control">
            <input type="email" name="email" value="{{ form.email.value|default:'' }}"
                   placeholder="{{ form.email.label }}" class="input" />
            {% if form.errors.email %}
            <p class="help is-error">{{ form.errors.email }}</p>
            {% endif %}
        </div>
    </div>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button class="button is-primary">{% trans "Reset password" %}</button>
        </div>
        <div class="control">
            <a class="button is-secondary" href="{% url 'login' %}?next={{ request.GET.next|default:''|urlencode }}">
                {% trans "Cancel" %}</a>
        </div>
    </div>
</form>
{% endblock %}


