{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{% static "pepr/core.css" %}" />
        <link rel="stylesheet" href="{% static "pepr/vendor.css" %}" />
        <script src="{% static "pepr/vendor.js" %}"></script>
        <script src="{% static "pepr/core.js" %}"></script>

        {% if assets %}
            {% for path in assets.css %}
            <link rel="stylesheet" href="{% static path %}" />
            {% endfor %}

            {% for path in assets.js %}
            <script src="{% static path %}" /></script>
            {% endfor %}
        {% endif %}

        <title>{% block head_title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% if app_data %}
        {{ app_data|json_script:"app-data" }}
        {% endif %}

        <main id="app" {% if app_data %}app-data="#app-data"{% endif %} class="">
            <header class="header">
                <div class="container">
                    {% block header %}
                    <h1 class="title">{% block title %}{% endblock %}</h1>
                    <h2 class="subtitle">{% block subtitle %}{% endblock %}</h2>
                    {% endblock header %}
                </div>
            </header>
            <section class="section">
                <div class="container">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
