{% load i18n widget_tweaks %}

{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if not avoid_field or field.name != avoid_field %}
    <div class="form-group">
        {% if not no_label and field.label and not field.hide_label %}
        <div class="input-group-prepend">
            <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label }}</label>
        </div>
        {% endif %}
        {{ field|add_class:'form-control' }}

        {% if field.errors %}
            {% for error in field.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        {% endif %}

        {% if not no_help and field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}

