{% load static i18n pepr_ui %}
{% load render_bundle from webpack_loader %}
{% if not standalone %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        {% render_bundle "vendor" %}
        {% render_bundle "vendor" "css" %}
        {% render_bundle "main" %}
        {% render_bundle "main" "css" %}
        {% block assets %}{% endblock %}

        {% slot "assets" view %}

        <noscript>
            <link href="{% static "pepr/ui/css/noscript.css" %}" rel="stylesheet">
            {% slot "noscript" view %}
        </noscript>
    </head>
    <body>
        <div id="app" @submit="submit_form">
            <p-modal id="modal" ref="modal" class="remote"></p-modal>

            <nav class="navbar dark mb-3">
                {% block navbar %}
                <a class="navbar-brand" href="#">Pepr</a>

                <b-dropdown right class="float-right" toggle-class="btn-info">
                    <span slot="button-content">{{ user }}</span>
                    <!-- <b-dropdown-item>test</b-dropdown-item> -->
                </b-dropdown>
                {% endblock %}
            </nav>

            <p-alerts id="alerts" ref="alerts"></p-alerts>

            <main class="container-fluid p-4">
                <header class="container-fluide box mb-4">
                {% block header %}{% endblock %}
                </header>
    {% endif %}
            {% block main %}{% endblock %}
    {% if not standalone %}
            </main>
        </div>
    </body>
</html>
{% endif %}

