{% load static i18n assets pepr_ui %}
{% if not standalone %}
<html>
    <head>
        <meta charset="utf8">

        {% assets "pepr_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "pepr_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

        {% slot "head" %}

        {% block head_extra %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            {% block navbar %}
            <a class="navbar-brand" href="#">Pepr</a>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbar-user-menu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbar-user-menu">
                      <a class="dropdown-item" href="#">Action</a>
                    </div>
                </li>
            </ul>
            {% endblock %}
        </nav>
        <div id="app">
            {% block header_ext %}
            <header class="uk-heading-primary">
            {% block header %}{% endblock %}
            </header>
            {% endblock %}

            <main class="container-fluid">
    {% endif %}
            {% block main %}{% endblock %}
    {% if not standalone %}
            </main>
        </div>
    </body>
</html>
{% endif %}

