{% load static i18n assets pepr_ui %}
{% if not standalone %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        {% assets "vendor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "pepr_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "vendor_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
        {% assets "pepr_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

        <noscript>
            <link href="{% static "pepr/ui/css/noscript.css" %}" rel="stylesheet">
        </noscript>

        {% slot "head" view %}

        {% block head_extra %}{% endblock %}
    </head>
    <body>
        <div id="app" @submit="submit_form">
            <pepr-modal id="modal" ref="global-modal"></pepr-modal>

            <nav class="navbar mb-3">
                {% block navbar %}
                <a class="navbar-brand" href="#">Pepr</a>

                <b-dropdown right class="float-right" toggle-class="btn-info">
                    <span slot="button-content">{{ user }}</span>
                    <b-dropdown-item>test</b-dropdown-item>
                </b-dropdown>
                {% endblock %}
            </nav>

            <pepr-alerts id="alerts" ref="alerts"></pepr-alerts>

            <main class="container-fluid p-4">
                <header class="container-fluide box mb-4">
                {% block header %}{% endblock %}
                </header>
    {% endif %}
            {% block main %}{% endblock %}
    {% if not standalone %}
            </main>
        </div>
    </body>
</html>
{% endif %}

